<h2>Listing users</h2>


<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <% if current_user.admin? %>
        <th>Password</th>
        <th>Role</th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to user.username, user %></td>
    <% if current_user.admin? %>
        <td><%= user.password %></td>
        <td><%= user.role %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <% if user.current_user? current_user or current_user.admin? %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    <% if current_user.admin? and !user.current_user? current_user  %>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<br />

<% if current_user.admin? %>
    <h2>Reports</h2>
    <table>
      <tr>
        <th>Name </th>
        <th>Total posts </th>
        <th>Total votes for user </th>

      </tr>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= get_all_postid_for_user(user.id).count %></td>
            <td><%= get_vote_count(get_all_postid_for_user(user.id)) %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<br />

