<p id="notice"><%= notice %></p>


<div class="post">
        <span class="left"><%= link_to get_username(@post.user), @post.user  %><br />
          <b>Created: </b><%=get_datetime_string(@post.created_at) %><br />
          <b>Updated: </b><%= get_datetime_string(@post.updated_at) %><br />
          <% if not (@post.category.nil?)%>
          <b>Category: </b><%= @post.category.name %><br />
          <%end%>
        </span>
  <span class="right"><%= @post.content %></span>
         <span class="bottom">
          <% if current_user.current_user? @post.user or current_user.admin? %>
            <%= link_to "Edit", edit_post_path(@post) %> &nbsp;
               <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> <br />
          <% end %>
           <% if !current_user.current_user? @post.user %>
             <% if !user_voted? @post.id %>
                <%= form_for Vote.new, :url => {:controller => "votes", :action => "create"} do |f| %>
                  <div class="inputs">
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.hidden_field :post_id, :value => @post.id %>
                  </div>
                  <div class="actions">
                    <%= f.button 'Vote' %>
                  </div>
                <% end %>
              <% end %>
               <%= link_to vote_text(@post.id), Vote.find_by_post_id(@post.id)%>
           <% end %>


        </span>
</div>

<%if not get_all_comments_for_post(@post.id).empty? %>
<div id="comments"><h3>Comments</h3>

        <% get_all_comments_for_post(@post.id).each do |p| %>
      <div class="post">

        <span class="comment-left"><%= link_to get_username(p.user), p.user  %><br /> <br />
          <b>Created: </b><%=get_datetime_string(p.created_at) %><br />
          <b>Updated: </b><%= get_datetime_string(p.updated_at) %><br />
          <% if not (p.category.nil?)%>
          <b>Category: </b><%= p.category.name %><br />
          <%end%>
        </span>

          <span class="comment-right">
        <%= p.content %></span>
        <span class="comment-bottom">
          <% if current_user.current_user? p.user or current_user.admin? %>
              <%= link_to "Edit", edit_post_path(p) %> &nbsp;
              <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %> <br />
          <% end %>

          <% if !current_user.current_user? p.user %>
              <% if !user_voted? p.id %>
                  <%= form_for Vote.new, :url => {:controller => "votes", :action => "create"} do |f| %>
                      <div class="inputs">
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.hidden_field :post_id, :value => p.id %>
                      </div>
                      <div class="actions">
                        <%= f.button 'Vote' %>
                      </div>
                  <% end %>
              <% end %>
          <% end %>
          <br/>
          <%= link_to vote_text(p.id), Vote.find_by_post_id(p.id)%>
        </span>
      </div>
</div>
      <%end%>


  <% end %>

 <div class="spacer">
 </div>


<%= form_for(@post, :url => new_post_path, :method => "post") do |f| %>


    <div class="field">
      <%= f.label "Comment" %><br />
      <%= f.text_field :content, :size => "100", :value => "" %>
      <%= f.hidden_field :parent_id, :value => @post.id %>
    </div>

    <div class="actions">
      <%= f.submit "Create Comment" %>
    </div>
    <% end %>



 <br />
<!-- <%= link_to 'Edit', edit_post_path(@post) %> -->
<%= link_to 'Back to all posts', posts_path %>
